<app-main>
    <div class="wrapper login-bg main-content-app">
        <div class="overlay">
            <div class="sidebar">
                <div class="sidebar-wrapper">
                    <ul class="nav">
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt=""></a>
                        </div>
                    </div>
                </nav>
                <div class="login company-info">
                    <h3 class="text-left login-head" style="margin-bottom:0px;">Company information</h3>
                    <h5 class="text-left">Help us setup your account</h5>
                    <div>
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                            <div class="form-group">
                                <label for="">Company Name</label>
                                <input type="text" formControlName="companyName" class="form-control" placeholder="Enter your company name">
                                <div *ngIf="myForm.get('companyName').hasError('required') && myForm.get('companyName').dirty" class="alert alert-danger">
                                        Company Name is Required.
    
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label for="">Admin Email</label>
                                <input type="text" formControlName="adminEmail" class="form-control" placeholder="Enter your company name">
                                <div *ngIf="myForm.get('adminEmail').hasError('required') && myForm.get('adminEmail').dirty" class="alert alert-danger">
                                        Admin Email is Required.
    
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label for="">Company Domain</label>
                                <input type="text" formControlName="companyDomain" class="form-control" placeholder="Enter your company name">
                                <div *ngIf="myForm.get('companyDomain').hasError('required') && myForm.get('companyDomain').dirty" class="alert alert-danger">
                                    Company Domain is Required.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Portal Name</label>
                                <input type="text" formControlName="portalName" class="form-control" placeholder="Enter your portal name">
                                <div *ngIf="myForm.get('portalName').hasError('required') && myForm.get('portalName').dirty" class="alert alert-danger">
                                    Portal Name is Required.
    
                            </div>
                            </div>
                            <div class="form-group">
                                <label for="">Industry *</label>
                                <div class="Industry">
                                    <select formControlName="industryType" class="form-control">
                                        <option value="" disabled>Select industry</option>
                                        <option *ngFor="let industry of industriesList" value="{{industry}}">{{industry}}</option>
                                    </select>
                                </div>
                                <div *ngIf="myForm.get('industryType').hasError('required') && myForm.get('industryType').dirty" class="alert alert-danger">
                                    Industry is Required.
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label for="">Admin Mobile *</label>
                                <input type="text" formControlName="adminMobile" class="form-control" placeholder="Enter your mobile">
                                <div *ngIf="myForm.get('adminMobile').dirty">
                                    <span *ngIf="myForm.get('adminMobile').hasError('required')" class="alert alert-danger">
                                        Mobile Number is Required.
                                    </span>
                                    <span *ngIf="myForm.get('adminMobile').hasError('pattern')" class="alert alert-danger">
                                        Admin Mobile Number is not valid.
                                    </span>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <br>
                                <input type="submit" [disabled]="!myForm.valid" name="submit" value="Update" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-main>