<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button>{{ node.name }}</button>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle' + node.name">
            <mat-icon class="{{node.icon}}"></mat-icon>
            {{ node.name }}
        </button>
    </mat-tree-node>
</mat-tree> -->

<ul class="nav navbar-sidemenu">
    <li *ngFor="let item of sideMenuItems;let i=index">
        <a class="cursor-pointer" (click)="selectClick(i);">
            <i class="{{ item.iconClass }}"></i>
            {{item.name}}
        </a>
    </li>
</ul>